<%- include('partials/head') %>

<%- include('partials/navbar') %>
<h1>The Home Page <%= %></h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, dolore voluptatem magnam saepe placeat dolores illum cum quaerat! Voluptate animi commodi libero non, aut tempora distinctio minus nostrum enim hic?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, dolore voluptatem magnam saepe placeat dolores illum cum quaerat! Voluptate animi commodi libero non, aut tempora distinctio minus nostrum enim hic?</p>
<%- include('partials/footer') %>